<h1>Burgers!</h1>


<h2> To be Devoured! :-)</h2>

<ul>
    {{#each burger}}
    {{#unless isDevoured}}
    {{> burgers/burgers-block}}
    {{/unless}}
    {{/each}}
</ul>

<div id="burger">
    <img src="/assets/img/hamburger.png">
</div>

<h3>Have been Devoured :-(</h3>

<ul>
    {{#each burger}}
    {{#if isDevoured}}
    {{> burgers/burgers-block}}
    {{/if}}
    {{/each}}
</ul>

<h4> Make your own! =O</h4>
<form class="create-form">

    <div class="form-group">
        <label for="bur">Burger Name:</label>
        <input type="text" id="bur" name="name">
    </div>

    <div class="form-group">
        <label for="isDevoured">Has it been Devoured?</label><br>
        <input type="radio" name="isDevoured" value="1" checked> Devoured!<br>
        <input type="radio" name="isDevoured" value="0" checked> Not Devoured!<br>
    </div>

    <button type="submit" id="add-burger">Add Da Burger!</button>
</form>