<h1>Burgers!</h1>

<div id="headers">

    <h2 id="lft-hdr"> To be Devoured!</h2>
    <h2 id="rgt-hdr"> Have been Devoured</h2>

</div>

<div id="main">

    <ul id="left">
        {{#each burger}}
        {{#unless isDevoured}}
        {{> burgers/burgers-block isDevoured=true}}
        {{/unless}}
        {{/each}}
    </ul>

    <img src="/assets/img/hamburger.png">

    <ul id="right">
        {{#each burger}}
        {{#if isDevoured}}
        {{> burgers/burgers-block isDevoured=false}}
        {{/if}}
        {{/each}}
    </ul>

</div>

<h4> Make your own!</h4>

<form class="create-form">

    <div class="form-group">
        <label for="bur">Burger Name:</label>
        <input type="text" id="bur" name="name">
    </div>

    <button type="submit" id="add-burger">Add Da Burger!</button>

    <div id="drink">
        <img src="/assets/img/bebida.png">
    </div>

</form>