<h1>Burgers!</h1>

<h2> To be Devaoured!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Have been devoured!  :-(</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>

<h2> Make your own! =O</h2>
<form class="create-form">

    <div class="form-group">
        <label for="bur">Burger Name:</label>
        <input type="text" id="bur" name="name">
    </div>

    <div class="form=group">
        <label for="devou">Has it been devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="devoured" value="0" checked> Not Devoured!<br>
    </div>

    <button type="submit">Add Da Burger!</button>
</form>