<li>
    {{burgerName}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{isDevoured}}">
        {{#if isDevoured}}IT HAS BEEN DEVOURED!{{else}}TO BE DEVOURED!{{/if}}
    </button>
</li>